body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 11px;
  text-align: center;
}
p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
/*Header seciton*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745 !important;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
}
.iconoPrincipal {
  color: #28a745;
  font-size: 40px !important;
}
.header {
  width: 100%;
  background-color: #343a40;
  padding: 0 0;
  color: white;
  position: fixed;
  z-index: 1000;
  filter: brightness(1);
}
.subtitle {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color:white;
}

header h1 {
  font-size: 2.5rem;
  color: white;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.header-content {
  margin-left: 30px;
  padding: 0 0px;
}

.navbar {
  margin-left: auto;
  display: block;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  position: relative;
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  padding: 50px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link {
  color: white !important; /* important para sobreescribir a bootstrap */
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #28a745 !important; /* important para sobreescribir a bootstrap*/
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #28a745;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

main {
  padding: 40px;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Testimonios section*/
#testimonio-imagen{
    width: 20vw; /* La imagen ocupará el 50% del ancho de la ventana */
  height: auto; /* Mantiene las proporciones */



}
.h1-testimonio{

  color: #000;
  font-size: 50px;
  font-weight: bold;  

}
.btn-testimonio{
    padding-left: 150px!important;
    padding-right: 150px!important;
    color: #000 !important;
}
.footer-testimonio{
  background-color: #f6f6f6;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  padding: 50px;
  margin-left: calc(-50vw + 50%); /* Compensa el padding lateral */
  position: relative;

}

.titulo-testimonio{
  font-weight: bold;
  color: #28a745;
  font-size: 3.5em
}
.testimonios,
.cta {
    width:100vw; /* Ocupa el 100% del ancho de la pantalla */
  max-width: 100%; /* Evita cualquier límite de ancho */
  padding: 20px; /* Ajusta el relleno si es necesario */
  margin: 0 auto; /* Centra el contenido */
  box-sizing: border-box;
}


.cta {
  text-align: center;
  width: 100%;
}


.testimonios-section img {
  border-radius: 25px;
}

.testimonios-text {
  font-size: 1.2em;
  color: #333;
  padding: 0px !important:
}

.testimonios-name {
  font-weight: bold;
  font-size: 1.1em;
}

.stars span {
  font-size: 2.5em;
}
 .pagination-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .pagination-controls button {
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }

  .pagination-controls button:hover {
    color: #555;
  }

  .testimonio-puntos {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }

  .punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
  }

  .punto.activo {
    background-color: green;
  }
/*Footer section*/

footer {
  text-align: center;
  padding: 20px 0;
  background: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.redes-sociales a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
/*Services */
.service {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; /* Espacio entre el icono y el texto */
  padding: 20px;
}

.service i {
  font-size: 3rem;
  color: #000;
  display: flex;
}

.service h3 {
  margin: 0;
  font-size: 1.5rem;
}

.service:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .servicio {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*Testimonios section*/



.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #28a745;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Footer Section*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer p {
  margin: 5px 0;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.redes-sociales .social-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.redes-sociales .social-link i {
  margin-right: 8px;
}

.redes-sociales .social-link:hover {
  color: #0d6efd; /* Efecto hover */
}

footer p:last-child {
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  footer h3 {
    font-size: 20px;
  }

  .redes-sociales {
    flex-direction: column;
    align-items: center;
  }

  .redes-sociales .social-link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 15px 0;
  }

  footer h3 {
    font-size: 18px;
  }

  .redes-sociales .social-link {
    font-size: 14px;
  }
}

main {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: auto;
}
/* logo  */
.parrafoLogo {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding-top: 40px;
}
.logo {
  width: 50px;
  height: auto;
  border-radius: 30px;
  align-items: center;
}

/*Hero Section*/
.hero {
  width: 100%;
  background-image: url("../images/GymInicio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px; /* Agrega padding para asegurar que el contenido no esté pegado a los bordes */
  color: white;
  display: flex;
}
.hero-content {
  margin-top: 50px;
}
.hero .title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  text-align: left;
}
.hero .btn {
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}
.hero .subtitle {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
}

/*contacto*/
body {
  background-color: #181c14;
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #181c14;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #28a745;
}

main {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente en pantallas pequeñas */
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  background-color: #181c14;
}

/* Sección de Contacto */
.contact-info {
  max-width: 400px;
  padding-right: 30px;
  margin-right: 200px;
  padding-top: 80px;
}

.contact-info h2 {
  font-size: 3rem;
  color: #57cc99;
  font-weight: 800px;
  letter-spacing: 2px;
  padding-bottom: 40px;
}

.contact-info p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.contact-info img {
  max-width: 100px;
  margin: 20px 0;
}

.form-container {
  max-width: 600px;
  padding-left: 30px;
  padding-right: 100px;
  margin-left: 50px;
  padding-top: 40px;
}

/* Estilos para inputs y textarea */
.form-group input,
.form-group textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 400px;
  color: white;
  border-radius: 0;
  outline: none;
  margin-bottom: 25px;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: none;
  border-bottom: 1px solid #28a745;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

textarea {
  resize: none;
}

button[type="submit"] {
  background-color: #57cc99;
  border: none;
  color: white;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Línea divisoria entre secciones */
.divider {
  width: 1px;
  background-color: white;
  height: 300px;
  /* Para que la línea sea del tamaño del contenido */
  margin: 0 30px;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .contact-info,
  .form-container {
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .divider {
    display: none;
    /* Ocultar la línea divisoria en pantallas pequeñas */
  }
}

/*Servicios section*/
.services-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.services-description {
  margin-bottom: 3rem;
  color: grey;
}
.service-image {
  height: 380px !important; /* Ajusta esta altura según lo que necesites */
  border-radius: 14px !important;
  object-fit: cover; /* Mantiene la relación de aspecto y recorta si es necesario */
  width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
  padding-right: 25px;
}

#parrafo-servicios {
  color: grey;
  text-align: justify-content;
}
#subtitulo-servicios {
  padding-bottom: 10px;
  text-align: left;
  text-align: justify-content;
}
.services-cont{
  padding: 70px ;
}


#container-services {
  padding-top: 13% !important;
}
#container-services01 {
  padding-top: 11% !important;
}
#container-services02 {
  padding-top: 12% !important;
}

.nav-links-service {
  list-style-type: none; /* Elimina los puntos de la lista */
  display: flex; /* Alinea los elementos horizontalmente */
  justify-content: right; /* Centra los enlaces en la página */
  gap: 20px; /* Espacio entre los enlaces */
  color: #28a745;
  padding-right: 10px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}
.nav-links-service .nav-item {
  display: inline;
}
.nav-links-service .nav-link {
  color: #28a745 !important; /* Establece el color de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Hace que el texto del enlace sea más grueso */
  font-size: 12px; /* Tamaño del texto */
}
