<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../styles/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <main>
        
    
    </main>

    <script src="../components/footer.js"></script>
        <script src="../components//testimonials.js"></script>
          <script src="../components/hero.js"></script>
        <script src="../components/header.js"></script>
        <script src="https://kit.fontawesome.com/d48a53e01e.js" crossorigin="anonymous"></script>
</body>
</html>