<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../styles/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <main>
        
        <section class="testimonios">
            <h2>Testimonios de Clientes</h2>
            
            <div class="testimonios">
                <blockquote>
                    <p>"Este servicio cambió mi vida. ¡Altamente recomendado!"</p>
                    <cite>- Cliente Satisfecho</cite>
                </blockquote>
                <blockquote>
                    <p>"Una experiencia increíble. El equipo es muy profesional y atento."</p>
                    <cite>- Otro Cliente Satisfecho</cite>
                </blockquote>
                <blockquote>
                    <p>"Los resultados fueron inmediatos y superaron mis expectativas."</p>
                    <cite>- Cliente Feliz</cite>
                </blockquote>
            </div>
        
            <h3>Deja tu Testimonio</h3>
            <form action="#" method="post" class="form-testimonio">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
        
                <label for="testimonio">Tu Testimonio:</label>
                <textarea id="testimonio" name="testimonio" rows="1" required></textarea>
                <button type="submit">Enviar Testimonio</button>
            </form>
        </section>

        <section class="cta">
            <h2>¿Listo para empezar?</h2>
            <p>Contáctanos hoy mismo para más información.</p>
            <a href="../components/contacto.html" class="btn">Contáctanos</a>
            <a href="../components/registrousuarios.html" class="btn">Regístrate Ahora</a>
        </section>
    </main>

    <footer>
        <h3>Información de Contacto</h3>
        <p>Teléfono: (321) 475-8426</p>
        <p>Email: gympolitecnico@poligram.com</p>
        <p>Dirección: Carrera 6 No 32-11, Bogotá D.C.</p>
        <div class="redes-sociales">
            <a href="facebook.com">Facebook @GymPoli</a>
            <a href="#">Twitter @Gym_Poli</a>
            <a href="#">Instagram @Poli_Gym</a>
            <a href="#">WhatsApp 321 475 8426</a>
        </div>
        <p>&copy; 2024 Gympolitecnico S.A.S. Todos los derechos reservados.</p>
    </footer>
        <script src="../components/hero.js"></script>
        <script src="../components/header.js"></script>
        <script src="https://kit.fontawesome.com/d48a53e01e.js" crossorigin="anonymous"></script>
</body>
</html>